@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>add a new stylist</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.First)
  @Html.TextBoxFor(model => model.First)
  @Html.LabelFor(model => model.Last)
  @Html.TextBoxFor(model => model.Last)
  <input type="submit" value="Add new stylist" />
}
<p>@Html.ActionLink("show stylists", "Index")</p>

