@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h3>stylist: @Html.DisplayFor(model => model.First)<h3>
<hr />

@if (@Model.Clients.Count == 0)
{
    <h3><em>no clients yet</em></h3>
    <hr />
} 
else
{
  <h3>Clients:</h3>
    @foreach (Client item in Model.Clients)
    {
      <div class="content">
        <p>@Html.ActionLink($"{item.First}, {item.Last}", "Details", "Clients", new { id = item.ClientId })</p>
      </div>
    }
}

<h4>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</h4>
<h4>@Html.ActionLink("Back to list", "Index")</h4>
