@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit</h2>

<h4>Edit information for: @Html.DisplayFor(model => model.First)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StylistId)

    @Html.LabelFor(model => model.First)
    @Html.EditorFor(model => model.First)
    @Html.LabelFor(model => model.Last)
    @Html.EditorFor(model => model.Last)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("delete stylist", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("add client", "Create", "Clients", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("back to stylistlist", "Index")</p>


