@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<p><strong>NOTE:</strong> You need to have at least one stylist before you can add an item!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Stylists") to create a stylist.</p>
<h4>add a new client</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.First)
  @Html.TextBoxFor(model => model.First)
  @Html.LabelFor(model => model.Last)
  @Html.TextBoxFor(model => model.Last)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")
  <input type="submit" value="add new client" class="btn btn-default" />
}
<p>@Html.ActionLink("show all clients", "Index")</p>
